@import "./partials/bootstrap_loader.scss";

body {
    background-color: rgb(244, 244, 244);
}

main {
    min-height: 100vh;
    padding-top: 70px;
}

.jumbotron {
    min-height: calc(100vh - 70px);
}

.trash {
    background-color: transparent;
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
}