@import "./partials/bootstrap_loader.scss";

main {
    min-height: 100vh;
    padding-top: 70px;
}

.jumbotron {
    min-height: calc(100vh - 70px);
}

.navbar {
    background-color: #D92525;
}

.trash {
    background-color: transparent;
    display: inline;
    margin: 0;
    padding: 0;
    border: none;
}